body {
  padding: 10px;
  font-family: sans-serif;
  text-align: center;
   background-color: #fafafa;
}

.container {
	width: 80%;
	margin:auto;
	margin-top: 5%;
	 /*border: 1px solid rgba(0,0,0,.0975);*/
	 /*background: white;*/
	 height: 100%;
	 padding: 3%;
	 /*box-shadow: 0px 1px 1px 1px #4B4B4B*/
}

/*.ui.grid {
	height:100%;
}
*/
.ui.card {
	margin: auto;
}


.ui.form{
	border: 1px solid rgba(0,0,0,.0975);
	padding:10px;
	border-radius: 10px;
}

.ui.active.dimmer {
	height: 115%;
	display: none;
}

.form {
	display:block;
}

.table {
	display: none;
}

label {
	text-align: left;
}